/* Hero Section */
.hero {
    background: linear-gradient(135deg, #2563eb, #0f172a);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 14px 30px;
    background: white;
    color: #2563eb;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e2e8f0;
    transform: translateY(-3px);
}
